# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
*.pck filter=lfs diff=lfs merge=lfs -text
*.ctex filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.lmbake filter=lfs diff=lfs merge=lfs -text
precompiled_astc_imports/*.res filter=lfs diff=lfs merge=lfs -text
