[submodule "sprite_importer"]
	path = addons/sprite_importer
	url = https://github.com/legole0/sprite_importer
[submodule "rubicon"]
	path = addons/rubicon
	url = https://github.com/RubiconTeam/rubicon.git
[submodule "rubichart_converter"]
	path = addons/rubichart_converter
	url = https://github.com/RubiconTeam/rubichart_converter.git
[submodule "rubicon_mania"]
	path = addons/rubicon_mania
	url = https://github.com/RubiconTeam/rubicon_mania.git
[submodule "spriteframes_keyframer"]
	path = addons/spriteframes_keyframer
	url = https://github.com/anniebuue/spriteframes_keyframer.git
[submodule "rubicon_animation_snapper"]
	path = addons/rubicon_animation_snapper
	url = https://github.com/RubiconTeam/rubicon_animation_snapper
[submodule "rubicon_interpolated_camera"]
	path = addons/rubicon_interpolated_camera
	url = https://github.com/RubiconTeam/rubicon_interpolated_camera/
