# Archivos grandes (subir manualmente a GitHub Releases)
*.pck
*.exe
*.zip
*.tar.gz

# Audio
# (los .ogg son necesarios)

# Sprites sin procesar
*.ctex
*.import

# Carpeta para archivos grandes
original_pck/
